mkdocs>=1.1.0
git+https://github.com/theacodes/winterbloom_mkdocs_theme.git#winterbloom_mkdocs_theme
pymdown-extensions>=8.1.0
markdown_link_attr_modifier>=0.1.7
mkdocs-include-markdown-plugin>=3.1.3
pyyaml>=5.4.0
requests
